# Configurações para Servidor Apache Linux
Options -Indexes

# Garantir que o PHP seja processado (em alguns servidores isso ajuda)
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Redirecionar erros para a index
ErrorDocument 404 /index.php

# Impedir download de arquivos sensíveis
<Files "database.sql">
    Order allow,deny
    Deny from all
</Files>
<Files "db_config.php">
    Order allow,deny
    Deny from all
</Files>
